li.nav-item {
  padding: 0.5rem;
}

.search-input {
  input {
    border-right: none;
  }
  i {
    background: #fff;
  }
}

.nav-link {
  padding: 0.2rem !important; // Bootstrap css is loaded last :/
}