@import 'bootstrap/scss/bootstrap.scss';
@import 'components/Slider/style.scss';
@import 'components/Slider/custom.scss';
@import 'components/Navbar/style.scss';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

@include media-breakpoint-up(sm) {
  .card-table {
    margin-top:47px;
  }
}

.cost-0 {
  background-color: #cad9fb;
}
.cost-1 {
  background-color: #a5c1f9;
}
.cost-2 {
  background-color: #6f9cf1;
}
.cost-3 {
  background-color: #4075df;
}

.rarity-0 {
  background-color: #d9d9d9;
}
.rarity-1 {
  background-color: #96c573;
}
.rarity-2 {
  background-color: #72a7e1;
}
.rarity-3 {
  background-color: #bf7ba3;
}

.card-asset {
  float: left;
  width: 50px;
  margin-right: 10px;
  border-radius: 7px;
  cursor: pointer;
}

.custom-modal {
  .modal-content {
    background: none;
    border: none;
    align-items: center;
  }
}

.card-modal {
  width: 166px;
  height: 230px;
  border-radius: 15px;
}

.image-view {
  @include media-breakpoint-up(sm) {
    margin-top: 55px;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  img {
    margin: 10px auto;
    border-radius: 9px;
    width: 166px;
    height: 230px;
    &.small-fallback {
      border-radius: 21px;
    }
  }
}